{% extends 'layout/base.html' %}

{% block title %} member/join {% endblock %}

{% block style %}
        form {
            width: 350px;
            margin: 130px auto;
        }
        form div {
            margin-top: 10px;
        }
        form label {
            display: inline-block;
            width: 120px;
            text-align: right;
            font-weight: bold;
        }
{% endblock %}

{% block content %}
    <h2>회원가입</h2>
    <form name="joinfrm" id="joinfrm" method="post">
        {# Django built-in template filter #}
        <ul style="color: red">{{ error|safe }}</ul>

        {% csrf_token %}{# 동일출처 확인용 쿠키 생성 #}
        <div><label>아이디</label>
            <input type="text" name="userid" id="userid" value="{{ form.userid }}"></div>
        <div><label>비밀번호</label>
            <input type="password" name="passwd" id="passwd"></div>
        <div><label>비밀번호 확인</label>
            <input type="password" name="repasswd" id="repasswd"></div>
        <div><label>이 름</label>
            <input type="text" name="name" id="name" value="{{ form.name }}"></div>
        <div><label>이메일</label>
            <input type="text" name="email" id="email" value="{{ form.email }}"></div>
        <div><label></label>
            <button type="submit" id="submit">입력완료</button>
            <button type="reset" id="reset">다시입력</button></div>
    </form>
{% endblock %}

{% block script %}
{#<script>#}
{#    const joinfrm = document.querySelector('#joinfrm')#}
{#    joinfrm.addEventListener('submit', (e) => {#}
{#       let userid = document.joinfrm.userid;#}
{#       let passwd = document.joinfrm.passwd;#}
{#       let repasswd = document.joinfrm.repasswd;#}
{#       let name = document.joinfrm.name;#}
{#       let email = document.joinfrm.email;#}
{##}
{#       if (userid.value == '') {    // 아이디에 입력한 값이 공백이면#}
{#           alert('아이디를 입력하세요!');#}
{#           userid.focus();#}
{#           e.preventDefault();#}
{#       } else if (passwd.value == '') {#}
{#           alert('비밀번호를 입력하세요!');#}
{#           passwd.focus();#}
{#           e.preventDefault();#}
{#       } else if (repasswd.value == '') {#}
{#           alert('비밀번호 확인을 입력하세요!');#}
{#           repasswd.focus();#}
{#           e.preventDefault();#}
{#       } else if (name.value == '') {#}
{#           alert('이름을 입력하세요!');#}
{#           name.focus();#}
{#           e.preventDefault();#}
{#       } else if (email.value == '') {#}
{#           alert('이메일 입력하세요!');#}
{#           email.focus();#}
{#           e.preventDefault();#}
{#       } else if (passwd.value != repasswd.value) {#}
{#           alert('비밀번호가 서로 일치하지 않습니다!')#}
{#           passwd.focus();#}
{#           e.preventDefault();#}
{#       }#}
{#    });#}
{#</script>#}
{% endblock %}