{% extends 'layout/base.html' %}

{% block title %} member/myinfo {% endblock %}

{% block style %}
        table {
            width: 350px;
            margin: 130px auto;
        }
{% endblock %}

{% block content %}
        <table>
            <tr>
                <th>아이디</th>
                <td>jonghyun5646</td>
            </tr>
            <tr>
                <th>이름</th>
                <td>양종현</td>
            </tr>
            <tr>
                <th>이메일</th>
                <td>jonghyun5646@naver.com</td>
            </tr>
            <tr>
                <th>가입일</th>
                <td>2022-05-27 12:17:00</td>
            </tr>
        </table>
{% endblock %}